{% extends 'base.html.twig' %}

{% block title %}Ma liste de todo
{% endblock %}

{% block body %}
	<div>
		{% for todos in todos %}
			<p>{{todos.titre}}
				:
				{{todos.contenu }}</p>
		{% endfor %}
	</div>

	{{form(dataForm)}}{% endblock %}
